<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MarkdownTime</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

        :root {
            --background: #ffffff;
            --primary: ;
            --light: #f7eeee;
            --dark: #000000;
        }

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Roboto', sans-serif;
        }

        body {
            background: var(--light);
            color: var(--dark);
        }
    </style>
</head>

<body>
    <p>Note: Once you click submit, you will be redirected to the page of the formated time, you'll need to copy the page link to use it.</p>
    <br>
    <form action="/time" method="GET">
        <label for="time">Date & Time</label>
        <input type="datetime-local" id="time" name="time" />
        <br>
        <label for="format">Format:</label>
        <select id="format" name="format">
            <option value="shortdate">Short Date</option>
            <option value="longdate">Long Date</option>
            <option value="shorttime">Short Time</option>
            <option value="longtime">Long Time</option>
            <option value="shortdatetime">Short Date w/ time</option>
            <option value="longdatetime">Long Date w/ time</option>
            <option value="relative">Relative</option>
        </select>
        <br>
        <br>
        <input type="submit" value="Submit">
    </form>
</body>

</html>